@model IEnumerable<WebAppLayout.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OurLayout.cshtml";
}

<h2>Index</h2>
<h3 class="bg-warning text-white text-center m-2">@ViewData["Message"]</h3>
<h3 class="bg-primary text-white text-center m-2">Number of Products are: @ViewBag.noP</h3>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Company)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Company)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                </tr>
            }
</table>
